flows_logger_on_field.json
[
    {
        "id": "3550c7871873a292",
        "type": "tab",
        "label": "Modbus server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b187e5408a519656",
        "type": "inject",
        "z": "3550c7871873a292",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "76ba70db5d44bd90"
            ]
        ]
    },
    {
        "id": "76ba70db5d44bd90",
        "type": "function",
        "z": "3550c7871873a292",
        "name": "Init",
        "func": "var nb_register = 106\nvar date_send = new Array(nb_register)\ndate_send.fill(0x7FFF)\nnode.send({ payload: { value: date_send, 'fc': 16, 'unitid': 1, 'address': 0, 'quantity': nb_register }})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "05fc83215a9b229f"
            ]
        ]
    },
    {
        "id": "05fc83215a9b229f",
        "type": "modbus-flex-write",
        "z": "3550c7871873a292",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "1e1c575a819c6269",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 810,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "acc571b05cb0b170",
        "type": "modbus-server",
        "z": "3550c7871873a292",
        "name": "",
        "logEnabled": true,
        "hostname": "",
        "serverPort": "1026",
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": "0",
        "holdingBufferSize": "110",
        "inputBufferSize": "0",
        "discreteBufferSize": "0",
        "showErrors": true,
        "x": 600,
        "y": 160,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "1e1c575a819c6269",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "1026",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    }
]